<section class="section" aria-labelledby="management-label">
  <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error=> { %>
          <li>
            <%= error.msg %>
          </li>
          <% }) %>
      </ul>
      <% } %>

        <div class="container btn-box-container">
          <% if (title) { %>
            <div class="btn-box">

              <h1 class="h2 section-title">
                <%= title %>
              </h1>

              <div class="btn-spacer">
                <a href="/inv/add-make" class="btn-add-make">
                  <span class="span">Add New Make</span>
                </a>
                <a href="/inv/add-inventory" class="btn-add-car">
                  <span class="span">Add New Vehicle</span>
                </a>
              </div>

              <div class="select-instr">
                <h2>Manage Inventory</h2>
                <p>Choose a classification to see those inventory items</p>
              </div>

              <div class="input-group">
                <%- selectMenu %>
              </div>
              <table id="inventoryDisplay"></table>
              <noscript>JavaScript must be enabled to use this page </noscript>

            </div>

            <% } else { res.redirect('/') } %>

              <%- messages() %>
        </div>
</section>

<script src="../../js/inventory.js"></script>